<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ruxing.demo.mapper.UserMapper">

    <cache type="org.mybatis.caches.redis.RedisCache" eviction="LRU"/>

    <sql id="BaseItems">
        user_id, name, age, city, hometown, create_time, update_time, deleted
    </sql>

    <select id="findUserById" resultType="ruxing.demo.entity.po.User" useCache="false">
        SELECT
            <include refid="BaseItems"/>
        FROM
            user
        WHERE
            user.user_id = #{userId}
        AND deleted = 0
    </select>

    <select id="findUserByIdWithCache" resultType="ruxing.demo.entity.po.User">
        SELECT
            <include refid="BaseItems"/>
        FROM
            user
        WHERE
            user.user_id = #{userId}
        AND deleted = 0
    </select>

    <insert id="saveUser">
        INSERT INTO user(name, age, city)
        VALUE (#{user.name}, #{user.age}, #{user.city})
    </insert>

</mapper>